@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

:root {
  --color-form: #eed7c5;
  --accent-color: #c97c5d;
  --font-color: #4c494f;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
}

main,
.logo {
  display: flex;
  flex-flow: row wrap;
}

.image-content {
  background-image: url(./form-image.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: auto;
  padding: 3rem;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 4rem;
}
.logo-title {
  width: 100%;
  background-color: whitesmoke;
  opacity: 50%;
}

.dots {
  height: 15vh;
}

.form-content {
  width: 60vw;
  background-color: #f7ede2;
  justify-content: center;
}

.left-side {
  padding: 1em;
}

.description {
  width: 90%;
  font-size: 1.4rem;
  padding: 2em;
  padding-bottom: 0.5em;
  color: var(--font-color);
  margin-right: 1em;
}

form {
  background-color: var(--color-form);
  padding: 20px;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #4c494f;
  margin: 0.4em;
}

.title {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

input {
  background-color: white;
  border: 1px solid #c97c5d;
  border-radius: 3px;
  height: 2em;
  width: 80%;
  margin-top: 0.3em;
}

input:focus {
  outline: none;
  border: 2px solid #b36a5e;
}

button {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  padding: 10px 40px;
  margin: auto;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: #b36a5e;
  color: #eee2df;
}

.log-in {
  margin: 1em;
  text-align: center;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: #774936;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: #50341f;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/* TABLET */

@media only screen and (max-width: 900px) {
  input {
    width: 30vw;
  }
  .row {
    display: unset;
    margin: auto;
  }
  .description {
    padding: 2em;
  }
  button {
    margin-left: 2em;
  }
}

/* PHONE */
@media only screen and (max-width: 660px) {
  main {
    display: unset;
  }
  .image-content {
    width: 100%;
  }
  .form-content {
    width: 100%;
  }
  form {
    display: block;
    text-align: center;
  }
  button {
    margin: auto;
  }
  input {
    width: 80vw;
  }
  label {
    font-size: 0.8rem;
  }
  .log-in {
    display: inline;
  }
}
